@import "reset.css";
@import "fonts.css";

*{
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	width: 100%;
	min-width: 300px;
}
.clear{
    clear: both;
}
.clearfix::after{
	clear: both;
	content: "";
	display: table;
}
.center{
	text-align: center;
}
.clearfix::after{
	clear: both;
	content: "";
	display: table;
}
.container{
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	padding: 0;
}
.row{
	padding: 0;
}
.title{
	display: block;
	background: #0074C4;
	color: #fff;
	font-size: 17px;
	font-family: 'PT Sans', arial, sans-serif;
	padding: 18px 20px;
	font-weight: 400;
	margin-bottom: 30px;
}
.button-1{
	color: #fff;
	font-size: 14px;
	text-align: center;
	border: none;
	background: #4E7AC7;
	line-height: 44px;
	padding: 0 20px;
}
.header_top{
	.info{
		padding: 12px 0;
		font-family: 'PT Sans', arial, sans-serif;
		border-bottom: 1px solid #EDEDED;
		&__contact{
			a{
				font-size: 12px;
				color: #909090;
				padding-left: 20px;
				display: inline-block;
				padding-top: 10px; 
			}
		}
		&__num{
			span{
				text-align: right;
				display: block;
				font-size: 25px;
				color: #4E7AC7;
				padding-right: 60px;
			}
		}
	}
	.menu-line{
		padding: 35px 0 45px;
		.logo{
			display: block;
			padding-left: 35px;
			color: #424242;
			font-size: 14px;
			i{
				font-size: 25px;
				display: block;
			}
		}
		.menu{
			&__li{
				list-style: none;
				display: inline-block;
				margin-left: -3px;
			}
			&__link{
				font-size: 17px;
				display: block;
				padding: 0 15px;
				line-height: 42px;
				color: #000;
				transition: 0.4s all ease;
				&:hover{
					background: #0074C4;
					color: #fff;
				}
			}
		}
	}
}
.pod_shapkoy{
	height: 500px;
	background: #ccc;
	position: relative;
	.box-wrap{
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.box{
		width: 33.33%;
		float: left;
		padding: 22px 30px;
		color: #fff;
		font-size: 14px;
		&__title{
			font-size: 24px;
			display: block;
			padding-bottom: 8px;
		}
		&-light{
			background: #42B3E5;
		}
		&-semi{
			background: #0384CE;
		}
		&-dark{
			background: #3156A3;
		}
	}
}
.dom{
	padding: 15px 0;
	.row{
		margin-top: 30px;
	}
	&__info{
		padding: 0;
	}
	&__sidebar{
		padding: 0 0 0 30px;
	}
	.info{
		background: #E4EBF8;
		&__video{
			height: 330px;
			overflow: hidden;
			padding: 0;
			iframe{
				width: 100%;
				height: auto;
				min-height: 100%;
			}
		}
		&__txt{
			p{
				font-size: 15px;
				padding: 20px 20px 10px 10px;
			}
		}
	}
	.sidebar{
		&__li{
			display: block;
			width: 100%;
			cursor: pointer;
			font-size: 15px;
			padding: 10px 15px 10px 0;
			border-bottom: 1px solid #E0E0E0;
			&:first-child{
				padding: 0 15px 10px 0;
			}
		}
		.sub-sidebar{
			padding-left: 10px;
			.sub__li{
				display: block;
				color: inherit;
			}
		}
	}
	.condition{
		margin: 0 -15px;
		.item{
			&__img{
				width: 230px;
				height: 172px;
				overflow: hidden;
				&-in{
					width: 100%;
					height: auto;
					min-height: 100%;
					display: block;
				}
			}
			.text__title{
				font-weight: 700;
				font-size: 15px;
				display: block;
				padding: 0 0 20px 10px;
			}
			.text__in{
				font-size: 15px;
			}
		}
	}
	.data{
		&__li{
			a{
				padding: 3px 10px 25px 65px;
				min-height: 70px;
				font-size: 15px;
				color: #000;
				display: block;
			}
		}
	}
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}



@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "style5.css";
@import "style6.css";
@import "style7.css";
@import "style8.css";
@import "style9.css";
@import "style10.css";
